<div>
  <h2>Celebrities</h2>
  <button><a href="/celebrities/new"> Add a Celebrity</a></button>

  <ul>
     {{#each celebrities}}
    <li>
       <h5> <a href="/celebrities/details/{{this._id}}">{{this.name}}</a></h5>
    </li>
      {{/each}}
  </ul>
</div>
